<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
  <display-name>Oh Ho Ra web</display-name>
  
  <!-- 스프링의 ContextLoaderListener가 사용할 설정파일 경로정보 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:java63/servlets/test05/application-context.xml</param-value>
	</context-param>
	
	<!-- 리스너 등록하기 -->
	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  <!-- 필터 선언 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>java63.servlets.test05.LogFilter</filter-class>
  </filter>

  <!-- 필터를 실행해야 할 때를 지정 -->
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/test05/*</url-pattern>
  </filter-mapping>
  

  <!--  
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>java63.servlets.Hello</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Hello2</servlet-name>
		<servlet-class>java63.servlets.Hello2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppInitServlet</servlet-name>
		<servlet-class>java63.servlets.test03.AppInitServlet</servlet-class>
		<init-param>
			<param-name>mybatisConfig</param-name>
			<param-value>java63/servlets/test03/dao/mybatis-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hello2</servlet-name>
		<url-pattern>/Hello2</url-pattern>
	</servlet-mapping>
	-->
</web-app>