<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

<typeAliases>
  	<typeAlias type ="java63.servlets.test02.domain.Product" alias="Product"/>
  </typeAliases>
	<!-- DBMS 연결정보 설정 default => 여러개 연결 정보 중에서 어떤 것을 사용할 지 결정하는 것. ex) development라는 
		이름을 가진 연결정보를 사용하겠다는 것. -->
	<environments default="development">

		<!-- DBMS 연결정보는 여러개 선언할 수 있다. -->
		<environment id="development">

			<!-- 트랜잭션 관리 방법 -->
			<transactionManager type="JDBC" />

			<!-- DBMS Connection Pool 정보를 설정한다. -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/studydb?useUnicode=true&amp;characterEncoding=utf8" />
				<property name="username" value="study" />
				<property name="password" value="study" />
			</dataSource>

		</environment>

	</environments>

	<!-- SQL문을 저장한 파일의 경로 -->
	<mappers>
		<mapper resource="java63/servlets/test02/dao/ProductDao.xml" />
	</mappers>

</configuration>

